body {
  margin: 0;
  padding: 0;
}

#background {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Hans Kendrick", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 15px;

  transition: all 1s ease-in-out;
}

#background.background__init {
  background: url("../assets/img/background_holder.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
}

#background.background__loaded {
  background: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
}


/* https://ihatetomatoes.net/how-to-create-css-glitch-effect/ */
.glitch {
  /* -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); */
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.glitch:before, .glitch:after {
  content: 'Hi. I am Sung Kim';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}
.glitch:after {
  color: #f0f;
  z-index: -2;
}
.glitch:before {
  color: #0ff;
  z-index: -1;
}
.glitch:hover:before {
  -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.glitch:hover:after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}


@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}






h1 {
  font-weight: bold;
  text-align: center;
}

h5 {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 12%;
  /* room for glitch effect */
  padding: 5px;
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-top: 15px; */

  font-size: 1.2em;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  cursor: pointer;
  width: 137px;
}

button:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ffff, 0 0 70px #00ffff,
    0 0 80px #00ffff, 0 0 100px #00ffff;
}

button i {
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
}

footer > div a {
  margin: 0 7px;
}

/* From https://kabir.ml/ */
.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.05s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    font-size: .01em;
  }
  to {
    opacity: 1;
    font-size: 1em;
  }
}

.wrapper {
  background-color: rgba(30, 30, 30, 0.4);
  /* margin: 45px; */
  /* padding: 100px; */
  width: 100%;
  height: 100vh;
  position: relative;
}

.blog-github {
  display: flex;
  margin-top: 10px;
}

.blog-github-content {
  margin: 5px 15px;
}

.blog-github-content-and {
  font-size: 0.8em;
}

.whati {
  margin-bottom: -10px;
  font-weight: bold;
}

.job {
  text-align: center;
}

/*
  Style job description
  Found via - https://omensah.github.io/resume/
 */
.job h5 {
  color: #ddd;
  font: 1.5em "librebaskerville-regular", serif;
}

.nav {
  padding: 0 !important;
}

.nav a {
  /* border: 1px solid #FFF;
  border-radius: 50%; */
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.6em;
}

/* Override Moon CSS */
.nav-item {
  padding: 0px;
}

i {
  color: #ddd;
}

/* http://enjoycss.com/code/ */
i:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ffff, 0 0 70px #00ffff,
    0 0 80px #00ffff, 0 0 100px #00ffff;
}
