body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  /* background-position: center center; */
  color: #FFF;
  font-family: "Hans Kendrick", sans-serif;
}

h1 {
  font-weight: bold;
}

button {
  background-color: rgba(0,0,0,0.5);
}

.nav a {
  border: 1px solid #FFF;
  border-radius: 50%;
  padding: 5px 10px;
  color: #FFF;
  background-color: rgba(0,0,0,0);
}

/* Override Moon CSS */
.nav-item {
  padding: 0px;
}
