body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  /* background-position: center center; */
  color: #FFF;
  font-family: "Hans Kendrick", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 15px;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h5 {
  margin:0;
  padding:0;
}

header {
  margin-top: 15%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;

  font-size: 1.2em;
}

button {
  background-color: rgba(0,0,0,0);
  border: 1px solid #FFF;
}

button i {
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
}

footer > div a {
  margin: 0 7px;
}

.wrapper {
  background-color: rgba(30,30,30,0.4);
  /* margin: 45px; */
  /* padding: 100px; */
  width: 100%;
  height: 100vh;
}

.blog-github {
  display: flex;
}

.blog-github-content {
  margin: 5px 15px;
}

.whati {
  margin-bottom: -10px;
}

.job {
  text-align: center;
}

.nav a {
  border: 1px solid #FFF;
  border-radius: 50%;
  padding: 5px 10px;
  color: #FFF;
  background-color: rgba(0,0,0,0);
}

/* Override Moon CSS */
.nav-item {
  padding: 0px;
}
